<h1 class="titleForm">Advertisements</h1>
<div id="ads" class="ads">
    {{#each data}}
        {{> singleAdd}}
    {{else}}
        <div class="add-box">
            <p>No adds in database</p>
        </div>
    {{/each}}
</div>
