<a href="#" id="linkHome" class="menu-item" data-target="viewHome">Home</a>
<a href="#" id="linkListAds" class="menu-item" data-target="viewAds">List Advertisements</a>
<a href="#" id="linkCreateAd" class="menu-item" data-target="viewCreateAd">Create Advertisement</a>
<a href="#" id="linkLogout" class="menu-item">Logout</a>
<span id="loggedInUser" class="menu-item">Hello, {{name}}!</span>
